/*
Colorpalette
Red: #f0134d
Orange: #ff6f5e
White: #f5f0e3
Blue: #40bfc1

Palette from https://colorhunt.co/palette/168306
By: Gal Shir https://galshir.com/?ref=colorhunt_bar
*/

.App {
  display: grid;
  grid-template-columns: 1em auto 1em;
  grid-template-rows: 10em auto 1em 5em;

  text-align: center;
}

.head_block {
  grid-column-start: 2;
  grid-row-start: 1;
}

.content_block {
  grid-column-start: 2;
  grid-row-start: 2;
}

.footer_block {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  background-color: #7e9baf;
}
.footer_block nav {
  margin-left: 1em;
  margin-top: 1em;
}

.footer_block a {
  margin-right: 1em;
  color: white;
}

form {
  width: 100%;
}

form .title {
  font-size: 1.2em;
  margin: 0.5em;
}

form input {
  width: 99%;
  height: 2em;
  margin-bottom: 1em;
  text-align: center;
}

form input:focus {
  border-width: 2px;
  border-color: #f0134d;
  border-style: solid;
}

form button {
  width: 100%;
  height: 3em;
  border-width: 2px;
  border-color: #f0134d;
  border-style: solid;
  color: #f5f0e3;
  background-color: #f0134d;
  padding: 0;
  cursor: pointer;
}

form button:hover {
  background-color: #ffffff;
  color: #f0134d;
}

.ok-btn {
  border-color: #40bfc1;
  background-color: #40bfc1;
}

.ok-btn:hover {
  color: #40bfc1;
}

form select {
  width: 100%;
  margin-bottom: 1em;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  text-align: left;
}
